.first
{
    width:1200px;
    height: auto;
    border:1px solid blue;
    background-color: aqua;
    text-align: center;


}

.css-93jtv8-MuiDataGrid-root
{
    background: aqua !important;                                                                                 
}